.box{
		
			height: 50%;
			display: flex;
			align-items: center;
			text-align: center;
		
		}
		
		.blue{
		
			background-color: blue;
		
		}
		
		.green{
		
			background-color: green;
		
		}
		
		.yellow{
		
			background-color: yellow;
		
		}
		
		.yellow p{
		
			color: black;
		
		}
		
		.red{
		
			background-color: red;
		
		}
		
		h1, img, p{
		
			width: 100%;
			color: white;
		
		}