.box{		
	height: 50%;
	display: flex;
	align-items: center;
	text-align: center;
}

.start{
	z-index: 100;
	position:absolute;
	left: 100vh;
	top: 50vh;
}


.resetGame{

	z-index: 50;
	position:absolute;
	left: 80vh;
	top: 50vh;
}

.on{

	position:absolute;
	left: 80vh;
	top: 40vh;

}

.off{

	position:absolute;
	left:100vh;
	top:40vh;

}



.blue{
	background-color: blue;
}

.green{
	background-color: green;
}

.yellow{
	background-color: yellow;
}

.red{
	background-color: red;
}


.blue:active{
background-color: hsl(210, 100%, 40%);

}

.green:active{
background-color:hsl(120, 60%, 50%);

}	

.yellow:active{
background-color:hsl(60, 89%, 35%);

}

.red:active{
background-color: hsl(7, 87%, 42%, 0.863);

}
		
	
			
		






